@import '/src/styles/colors';
@import '/src/styles/mixins';

.picture {
  background-color: $osnovniy;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 64px;
  object-fit: cover;
  @include media-rules(tablet) {
    margin-bottom: 80px;
  }
  @include media-rules(desktop) {
    margin-bottom: 120px;
  }
}
