@import '/src/styles/colors';
@import '/src/styles/mixins';

.picture {
  background-color: $osnovniy;
  width: 100%;
  max-width: none;
  height: auto;
  margin: 0;
  padding: 0;
  @include media-rules(desktop) {
    max-width: none;
    object-fit: cover;
    object-position: bottom;
  }
}
