@import "/src/styles/colors";
@import "../../../styles/mixins";

.picture {
  background-color: $snowdrift;
  width: 100%;
  max-width: none;
  height: auto;
  margin: 0;
  padding: 0;

  @include media-rules(vzaemodiaPage) {
    max-height: 552px;
    max-width: none;
    object-fit: cover;
  }

  @include media-rules(desktop) {
    max-width: none;
    max-height: 881px;
    object-fit: cover;
    object-position: top;
  }
}
