@import "src/styles/colors";
@import "src/styles/mixins";

.menu {
    position: relative;
    padding-top: 8px;
}

.burgerItem {
    width: 39px;
    height: 39px;
    stroke: $pine-depths;

    @include media-rules(tablet) {
        width: 49px;
        height: 49px;
    }
}

.menuList {
    position: absolute;
    top: calc(100% + 10px);
    right: -18px;
    min-width: 194px;
    background-color: $snowdrift;
    border: 10px solid $stroke;
    border-radius: 20px;
    z-index: 100;
    padding: 10px 20px;

    @include media-rules(tablet) {
        right: 0;
    }
}