@import "src/styles/colors";
@import "src/styles/mixins";

.headerWrapper {
}

.header {
  position: fixed;
  width: 100%;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
  background: $snowdrift;
  z-index: 1000;
  padding: 16px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftWrapper {
  @include media-rules(desktop) {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.rightWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 16px;

  @include media-rules(tablet) {
    padding: 0 40px;
    max-width: $tablet;
  }

  @include media-rules(desktop) {
    padding: 0 80px;
    max-width: $desktop;
  }
}
