@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';

.father {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.container1 {
	min-width: 320px;
	width: 24%;
	background-color: #f8fafc;
	border-radius: 10px;
	padding: 20px;
	padding-left: 6px;
}
.container2 {
	width: 76%;
}
