@import 'src/styles/_colors.scss';
@import 'src/styles/_mixins.scss';
@import 'src/styles/_breakpoints.scss';

.wrapper {
	margin-left: 8px;
}

.burgerBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.burgerBtn:hover .burgerBtnIcon,
.burgerBtn:focus .burgerBtnIcon {
	stroke: $osnovniy;
}

.burgerBtnIcon {
	stroke: $pine-depths;
	width: 38px;
	height: 38px;
	transition: 300ms;

	@include media-rules(tablet) {
		width: 48px;
		height: 48px;
	}
}

.burgerNav {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 10.07px solid $stroke;
	border-radius: 20px;
	padding: 16px 0px;
	width: 194px;
	top: 69px;
	right: 18px;
	box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
	background: $snowdrift;
	animation: fadeIn 0.5s ease-out forwards;
	z-index: 10;

	@include media-rules(tablet) {
		top: 54px;
		right: 31px;
	}
}

.burgerList {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	padding: 0px 24px;
	width: 131px;
	gap: 12px;
	margin-bottom: 12px;

	& a {
		font-weight: 'normal';
		font-size: 16px;
		line-height: 1.5; // line-height: 24px;
		color: $pine-depths;
		@include transition(color);
	}

	& a:hover,
	& a:focus {
		color: $osnovniy;
	}

	@include media-rules(tablet) {
		margin-bottom: 0;
	}
}

.address {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	border: 1.01px solid rgba(18, 18, 18, 0.2);
	border-radius: 201px;
	width: 131px;
	height: 36px;

	& a {
		font-weight: 'normal';
		font-size: 10px;
		color: $pine-depths;
		@include transition(color);
	}

	& a:hover,
	& a:focus {
		color: $osnovniy;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
