@import '/src/styles/mixins';
@import '/src/styles/colors';

.chroniclesSection {
  margin-bottom: 120px;
  overflow-y: auto;
  max-height: 1150px;
  scrollbar-color: #45b288 #edfaf6;
}

.title {
  color: $pine-depths;
  font-weight: 700;
  font-family: 'Ermilov', serif;

  font-size: 44px;
  line-height: 44px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  overflow: hidden;

  @include media-rules(tablet) {
    flex-direction: row;
  }

  @include media-rules(desktop) {
  }
}

.message {
  font-family: 'Ermilov', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.66667;
  color: $pine-depths;
  @include media-rules(tablet) {
    font-size: 20px;
    line-height: 1.5;
  }

  @include media-rules(desktop) {
    font-size: 28px;
    line-height: 1.07143;
  }
}

.attention {
  background-color: $stroke;
  border: 6px solid $lilac-haze;
  // fill: $pine-depths;
  fill: $stroke;
  border-radius: 50%;
  width: 37px;
  height: 37px;
  margin-right: 16px;

  @include media-rules(tablet) {
    width: 40px;
    height: 40px;
  }
}