@import '/src/styles/breakpoints';
@import '/src/styles/colors';

.chroniclesSection{
  margin-bottom: 120px;
}

.title {
  color: $pine-depths;
  font-weight: 700;
  font-family: 'Ermilov', serif;

  font-size: 44px;
  line-height: 44px;
}

.list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .item {
    flex-direction: row;
  }
}
