@import "../../../styles/colors";

.item {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    font-family: "Ermilov";
    font-weight: 700;
    font-size: 11px;
    color: #2b2a29;
    background-color: $snowdrift;
    border-radius: 50%;
}

.item-1 {
    top: 360px;
    left: 187px;
}

.item-2 {
    top: 256px;
    left: 322px;
}

.item-3 {
    top: 392px;
    left: 405px;
}

.item-4 {
    top: 175px;
    left: 341px;
}

.item-5 {
    top: 239px;
    left: 607px;
}

.item-6 {
    top: 399px;
    left: 633px;
}

.item-7 {
    top: 468px;
    left: 583px;
}

.item-8 {
    top: 504px;
    left: 661px;
}

.item-9 {
    top: 685px;
    left: 406px;
}

.item-10 {
    top: 507px;
    left: 879px;
}

.item-11 {
    top: 442px;
    left: 706px;
}

.modal {
    position: relative;
    transform: translate(-65px, -60px);
    z-index: 100;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 407px;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    background: rgba(237, 250, 246, 0.75);
    padding: 32px 36px 32px 32px;
}

.close {
    position: absolute;
    top: 20px;
    right: 13px;
    cursor: pointer;
}

.closeIcon {
    width: 24px;
    height: 24px;
    fill: $pine-depths;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 56px;
    font-family: "Ermilov";
    font-weight: 700;
    font-size: 28px;
    line-height: 1.07;
    color: $snowdrift;
    background-color: $pine-depths;
    border-radius: 200px;
    margin-bottom: 24px;
}

.title {
    font-size: 28px;
    line-height: 1.07;
    color: $pine-depths;
    margin-bottom: 8px;
}

.description {
    max-height: 136px;
    font-family: "Innerspace";
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    color: $pine-depths;
    margin-bottom: 12px;
}

.link {
    display: flex;
    align-items: center;
    font-family: "Innerspace";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: $osnovniy;
}

.linkIcon {
    width: 24px;
    height: 24px;
    fill: $osnovniy;
}