@import '/src/styles/breakpoints';
@import '/src/styles/colors';

.container {
  max-width: $mobile;
  margin: 0 auto;
  padding: 0 16px;
  background-color: $snowdrift;
  color: $pine-depths;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@include media-rules(tablet) {
  padding: 0 40px;
  max-width: $tablet;
}

@include media-rules(desktop) {
  padding: 0 80px;
  max-width: $desktop;
}
