@import '/src/styles/colors';
@import '/src/styles/mixins';

.container {
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	padding-top: 40px;
	width: 309px;

	@include media-rules(tablet) {
		flex-direction: row;
		width: 920px;
		padding: 50px 40px;
	}

	@include media-rules(desktop) {
		width: 1250px;
	}
}

.photo {
	width: 309px;
	height: 251px;
	border-radius: 20px;
	object-fit: cover;
	margin: 0 auto;
	margin-bottom: 24px;

	@include media-rules(tablet) {
		width: 351px;
		height: 559px;
		margin-bottom: 0px;
		margin-right: 28px;
	}

	@include media-rules(desktop) {
		width: 595px;
		height: 559px;
	}
}

.info {
	@include media-rules(tablet) {
		width: 464px;
	}
	@include media-rules(desktop) {
		width: 540px;
	}
}

.title {
	color: $pine-depths;
	margin-bottom: 32px;
	font-family: 'Ermilov', serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	color: $pine-depths;
}

.description {
	color: $pine-depths;
	margin-bottom: 12px;
	font-family: 'Innerspace', serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: $city-park;
	text-align: justify;
	max-height: 220px;
	padding-right: 18px;
	overflow-y: auto;

	@include media-rules(tablet) {
		max-height: 490px;
		margin-bottom: 0;
		padding-right: 27px;
	}

	@include media-rules(desktop) {
		max-height: 504px;
	}

	::-webkit-scrollbar {
		background-color: $stroke;
		width: 6px;
	}
	::-webkit-scrollbar-thumb {
		background: $osnovniy;
		border-radius: 2px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: $emerald-field;
	}
}
.button {
	font-family: 'Innerspace', serif;
	font-weight: 400;
	font-size: 16px;

	line-height: 1.5;
	// color: $light-color;
	color: $pine-depths;
}
.button:hover {
	color: $tropical-wave;
}

.closeIcon {
	position: absolute;
	top: 21px;
	right: 12px;
	width: 25px;
	height: 25px;
	fill: $pine-depths;
	@include media-rules(tablet) {
		top: 30px;
		right: 31px;
	}
}
.closeIcon:hover {
	fill: $tropical-wave;
}

.info {
	::-webkit-scrollbar {
		background-color: $stroke;
		width: 6px;
	}
	::-webkit-scrollbar-thumb {
		background: $osnovniy;
		border-radius: 4px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: $emerald-field;
	}
}
