@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin: 0 auto;
  margin-bottom: 24px;

  @include media-rules(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 52px;
    row-gap: 32px;
    margin-bottom: 64px;
  }

  @include media-rules(desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 32;
    margin-bottom: 64px;
  }
}
