// Backgrounds
$snowdrift: #fefefe; // Світлий фон
$lilac-haze: #edfaf6; // Світлий акцент/фон для відмінних секцій
$steel-whisper: #e9eeee; // Нейтральний фон для бокових панелей або вторинних елементів

// Accents
$tropical-wave: #4cd7b5; // Яскравий акцент для кнопок або посилань
$emerald-field: #289178; // Заголовки або активні елементи

// Texts and important elements
$forest-shadow: #452b28; // Текст або важливі елементи управління
$pine-depths: #014631; // Основний текст або фонові елементи
$city-park: #265543; // Text content for enhanced readability against light backgrounds


$stroke: #e1f4ee;
$osnovniy: #45b288;

