// Backgrounds
$snowdrift: #FEFEFE; // Світлий фон
$lilac-haze: #EDFAF6; // Світлий акцент/фон для відмінних секцій
$steel-whisper: #E9EEEE; // Нейтральний фон для бокових панелей або вторинних елементів

// Accents
$tropical-wave: #4CD7B5; // Яскравий акцент для кнопок або посилань
$emerald-field: #289178; // Заголовки або активні елементи

// Texts and important elements
$forest-shadow: #452B28; // Текст або важливі елементи управління
$pine-depths: #014631; // Основний текст або фонові елементи

