@import './breakpoints';

// $mobile: 375px;
// $to-tablet: 767px;
// $tablet: 768px;
// $to-desktop: 1439px;
// $desktop: 1440px;

@mixin media-rules($screen) {
  @if $screen == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $screen == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
