@import 'src/styles/_colors.scss';
@import 'src/styles/_breakpoints.scss';
@import 'src/styles/fonts.scss';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Ermilov', Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: $snowdrift;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: 'Innerspace', serif;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

img {
  vertical-align: middle;
  border-style: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  &:focus {
    outline: none;
  }
}

input,
button,
textarea,
select {
  font: inherit;
}

[hidden] {
  display: none;
}