@font-face {
     font-family: 'Ermilov';
     src: url('../fonts/ermilov.woff2') format('woff2'),
          url('../fonts/ermilov.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'Innerspace';
     src: url('../fonts/innerspace_regular.woff2') format('woff2'),
          url('../fonts/innerspace_regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
