@import '../../styles/colors';
@import '../../styles/mixins';

.modal_wrapper {
	width: 358px;
	background-color: rgb(225, 244, 238);
	border-radius: 13px;
	z-index: 98;
	@include media-rules(tablet) {
		width: 784px;
	}
	@include media-rules(desktop) {
		width: 954px;
	}
}

.tablet_wrapper {
	padding-top: 25px;
	@include media-rules(tablet) {
		padding: 32px 30px 22px 40px;
	}
	@include media-rules(desktop) {
		padding: 40px 42px 24px 53px;
	}
}

.tablet_wrapper:focus-visible {
	border: transparent;
}

.list_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
	overflow: auto;
	height: 615px;
	@include media-rules(tablet) {
		column-gap: 20.34px;
		row-gap: 26px;
		height: 570px;
	}
	@include media-rules(desktop) {
		column-gap: 23.73px;
		row-gap: 26px;
		height: 570px;
	}
}

.list_wrapper::-webkit-scrollbar {
	position: absolute;
	left: -30px;
	width: 3px;
}

.list_wrapper::-webkit-scrollbar-track {
	background: $snowdrift;
	border-radius: 4px;
}

.list_wrapper::-webkit-scrollbar-thumb {
	background: $light-color;
	border-radius: 4px;
}

.title {
	font-weight: 700;
	font-family: 'Ermilov', sans-serif;
	font-size: 22px;
	line-height: 1;
	color: $pine-depths;
	text-align: center;
	@include media-rules(tablet) {
		font-size: 24px;
		text-align: left;
	}
	@include media-rules(desktop) {
		font-size: 29px;
	}
}

.subtitle {
	font-weight: 700;
	font-family: 'Ermilov', sans-serif;
	font-size: 10px;
	line-height: 2.2;
	color: $pine-depths;
	text-align: center;
	margin-top: 7px;
	margin-bottom: 22px;
	@include media-rules(tablet) {
		text-align: left;
	}
	@include media-rules(desktop) {
		font-size: 13px;
		margin-top: 9px;
		margin-bottom: 12px;
	}
}

.btn_close {
	position: absolute;
	right: 15px;
	top: 12px;
	cursor: pointer;
	@include media-rules(tablet) {
		right: 21px;
		top: 26px;
	}
	@include media-rules(desktop) {
		right: 21px;
		top: 26px;
	}
}

.btn_close svg {
	fill: $pine-depths;
	width: 14px;
	height: 14px;
	@include media-rules(desktop) {
		width: 16.78px;
		height: 16.78px;
	}
}
