@import '../../../styles/colors';
@import '../../../styles/mixins';

.wrapper {
  position: relative;
  padding: 12px;
  background-color: $snowdrift;
  margin-top: 9px;
  border-radius: 8px;
}

.list_item {
  width: calc((358px - 56px) / 2);
  @include media-rules(tablet) {
    width: calc((784px - 100px - 50px) / 3);
  }
}

.img {
  width: 100%;
  display: block;
}

.link:hover {
  text-decoration: none;
}

.link:hover .wrapper {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.name {
  font-weight: 700;
  font-size: 7px;
  line-height: 1.5;
  color: $pine-depths;
  text-transform: uppercase;
}

.role {
  font-size: 6px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $light-color;
  font-weight: 400;
}

.linkedin_icon {
  position: absolute;
  bottom: 27px;
  right: 25px;
  width: 12px;
  height: 12px;
  fill: $light-color;
  right: 13px;
  bottom: 14px;
}
