@import 'src/styles/_colors.scss';
@import '../../styles/mixins';
@import '../../styles/breakpoints';

.title {
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 24px;
	line-height: 133%;
	color: $pine-depths;
	font-family: 'Ermilov', sans-serif;

	@include media-rules(tablet) {
		font-size: 28px;
		line-height: 157%;
		margin-bottom: 12px;
	}

	@include media-rules(desktop) {
		font-size: 44px;
		line-height: 100%;
		margin-bottom: 20px;
	}
}

.paragraph {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: $pine-depths;
	font-family: 'Innerspace', serif;
	max-width: 358px;
	margin-bottom: 32px;

	@include media-rules(tablet) {
		line-height: 187%;
		max-width: 698px;
		margin-bottom: 48px;
	}

	@include media-rules(desktop) {
		font-size: 20px;
		line-height: 150%;
		margin-bottom: 64px;
		min-width: 899px;
	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 64px;

	@include media-rules(tablet) {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		row-gap: 48px;
		column-gap: 32px;
		justify-content: center;
		align-items: center;
		margin-bottom: 80px;
	}

	@include media-rules(desktop) {
		gap: 32px;
		margin-bottom: 120px;
	}
}

.item {
	border-radius: 20px;
	padding: 24px;
	background-color: $lilac-haze;
	display: flex;
	flex-direction: column;

	@include media-rules(tablet) {
		flex-basis: calc((100% - 64px) / 3);
		height: 357px;
		padding: 32px;
	}

	@include media-rules(desktop) {
		height: 309px;
	}
}

.point {
	font-family: 'Ermilov', sans-serif;
	color: $pine-depths;
	font-weight: 700;
	font-size: 18px;
	line-height: 111%;
	margin: 32px 0 8px;

	@include media-rules(tablet) {
		font-size: 20px;
		line-height: 151%;
		margin-top: 64px;
	}

	@include media-rules(desktop) {
	}
}

.description {
	color: $pine-depths;
	font-family: 'Innerspace', serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	margin-bottom: 16px;

	@include media-rules(tablet) {
		font-size: 16px;
		line-height: 150%;
	}

	@include media-rules(desktop) {
	}
}

.moreInfo {
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: $light-color;
	font-family: 'Innerspace', serif;
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 6px;

	@include media-rules(tablet) {
		font-size: 16px;
		line-height: 150%;
		margin-top: auto;
	}

	@include media-rules(desktop) {
	}
}

.moreInfo:hover,
.moreInfo:focus {
	color: $tropical-wave;
}

.itemIcon {
	fill: $lilac-haze;

	@include media-rules(tablet) {
		width: 48px;
		height: 48px;
	}
}

.iconArrow {
	fill: currentColor;
	transform: translateY(-10%);

	@include media-rules(tablet) {
	}

	@include media-rules(desktop) {
		transform: translateY(0);
	}
}
