@import 'src/styles/colors';
@import 'src/styles/mixins';

.menu {
  position: relative;
  padding-top: 8px;
}

.burgerItem {
  width: 39px;
  height: 39px;
  fill: $dark;
  @include transition(fill);

  &:is(:hover, :focus) {
    fill: $green;
  }
}

.menuList {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  min-width: 282px;
  background-color: $white;
  border: 10px solid $green;
  border-radius: 20px;
  z-index: 100;
  padding: 10px 0;
}
