@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/breakpoints';

.father {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.container1 {
	width: 45%;
}
.container2 {
	width: 55%;
	background-color: black;
}
