@import 'src/styles/common.scss';
@import 'src/styles/_colors.scss';
@import 'src/styles/_mixins.scss';

.wrapper {
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 68px;
  height: 49px;
  cursor: pointer;
  border-radius: 201px;
  border: 1px solid rgba(43, 42, 41, 0.2);
}

.text {
  margin: 0;
  font-family: 'Innerspace', sans-serif;
  font-size: 16px;
  letter-spacing: -0.01em;
  color: $pine-depths;
}

.icon {
  fill: $pine-depths;
}

.dropDown {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 10px solid $stroke;
  border-radius: 20px;
  padding: 22px 55px;
  width: 194px;
  height: 122px;
  position: absolute;
  top: 65px;
  right: -7px;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeIn 0.5s ease-out forwards;
  background-color: $snowdrift;
}

.language {
  font-family: 'Innerspace', sans-serif;
  color: $pine-depths;
  cursor: pointer;
  border-radius: 20px;
  transition: 300ms;
}

.language:hover {
  background-color: rgba(43, 42, 41, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
