@import '../../styles/colors';
@import '../../styles/mixins';

.title {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: $pine-depths;
}

.describe {
  font-family: 'Innerspace';
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: -0.01em;
  color: #265543;
}

.iframe {
  width: 100%;
  height: 280px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
}
