@import 'src/styles/colors';
@import 'src/styles/mixins';

.header {
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: $white;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 20px 22px;

  @include media-rules(desktop) {
    padding: 34px 160px 22px;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
