@import 'src/styles/_colors.scss';

.footer_sections_wrapper {
	width: 360px;
	display: flex;
	row-gap: 40px;
	column-gap: 20px;
	flex-wrap: wrap;
	color: $snowdrift;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: 1.01px solid rgba(221, 223, 228, 0.3);
}
