@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.container {
  width: 390px;
  margin: 0 auto;
  background-color: $snowdrift;
  color: $pine-depths;

  @include media-rules(tablet) {
    width: 960px;
  }

  @include media-rules(desktop) {
    width: 1440px;
  }
}
