@import 'src/styles/_colors.scss';
@import '../../styles/mixins';
@import '../../styles/breakpoints';

.helpParkBox {
  margin-bottom: 64px;
  @include media-rules(tablet) {
    margin-bottom: 80px;
  }

  @include media-rules(desktop) {
    margin-bottom: 120px;
  }
}
.title {
  font-family: 'Ermilov', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: $pine-depths;
  margin-bottom: 16px;

  @include media-rules(tablet) {
    font-size: 28px;
    line-height: 157%;
    margin-bottom: 20px;
  }

  @include media-rules(desktop) {
    font-size: 44px;
    line-height: 100%;
  }
}
.flexWrap {
  display: flex;
  flex-direction: column;

  @include media-rules(tablet) {
    flex-direction: row;
    gap: 47px;
  }

  @include media-rules(desktop) {
    gap: 91px;
    width: 1280px;
  }
}
.description {
  font-family: 'Innerspace', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $city-park;
  margin-bottom: 16px;
  text-align: left;
  width: 358px;

  @include media-rules(tablet) {
    line-height: 187%;
    margin-bottom: 32px;
    width: 701px;
  }

  @include media-rules(desktop) {
    font-size: 20px;
    line-height: 150%;
    width: 964px;
    margin-bottom: 20px;
  }
}
.goal {
  font-family: 'Innerspace', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $city-park;
  margin-bottom: 32px;
  @include media-rules(tablet) {
    line-height: 187%;
  }

  @include media-rules(desktop) {
    font-weight: 700;
    font-size: 28px;
    line-height: 107%;
    font-family: 'Ermilov', sans-serif;
    margin-bottom: 64px;
  }
}
.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;

  @include media-rules(desktop) {
    padding-top: 50px;
    width: 630px;
    gap: 24px;
    margin-bottom: 0;
  }
}
.item {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 16px;
  width: 358px;
  @include media-rules(tablet) {
    width: 523px;
    align-items: center;
    gap: 24px;
  }

  @include media-rules(desktop) {
    align-items: start;
    width: 630px;
    gap: 16px;
  }
}
.iconBox {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $stroke;
  padding: 12px;
  border: 8px solid $lilac-haze;

  @include media-rules(desktop) {
    padding: 18px;
    width: 54px;
    height: 54px;
    border: 12px solid $lilac-haze;
  }
}
.icon {
  fill: $pine-depths;
  transform: translate(-35%, -35%);
  @include media-rules(tablet) {
  }

  @include media-rules(desktop) {
    transform: translate(-45%, -45%);
    width: 32px;
    height: 32px;
  }
}
.itemTitle {
  font-family: 'Ermilov', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.02em;
  color: $pine-depths;
  @include media-rules(tablet) {
    font-size: 20px;
    line-height: 160%;
  }

  @include media-rules(desktop) {
    font-size: 28px;
    line-height: 114%;
    padding-top: 15px;
    width: 566px;
    margin-bottom: 0;
  }
}
.itemSubtitle {
  font-family: 'Innerspace', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: $city-park;
  @include media-rules(tablet) {
    font-size: 16px;
    line-height: 187%;
  }

  @include media-rules(desktop) {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 0;
  }
}
.currentGoal {
  font-family: 'Innerspace', serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  color: $city-park;
  margin-bottom: 10px;
  @include media-rules(tablet) {
    line-height: 214%;
  }

  @include media-rules(desktop) {
    font-size: 20px;
    line-height: 150%;
    padding-top: 64px;
    margin-bottom: 20px;
    width: 603px;
  }
}
.grCodeWrap {
  width: 358px;
  height: 283px;
  background-color: $lilac-haze;
  border-radius: 20px;
  border: 1px solid #d2d9d8;
  padding: 44px 81px;
  margin-bottom: 16px;

  @include media-rules(tablet) {
    width: 310px;
    height: 283px;
    padding: 57px 96px;
    margin-bottom: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include media-rules(desktop) {
    padding: 126px 182px 211px;
    width: 559px;
    height: 532px;
    margin-bottom: 0;
    margin-left: 30px;
  }
}
.qrCodeImg {
  fill: $pine-depths;
}
.desktopDiv {
  @include media-rules(desktop) {
    position: relative;
  }
}
.helpLink {
  font-family: 'Innerspace', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $steel-whisper;
  background-color: $pine-depths;
  border-radius: 200px;
  padding: 15px 69px;
  width: 358px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media-rules(tablet) {
    width: 310px;
    padding: 15px 45px;
  }

  @include media-rules(desktop) {
    position: absolute;
    bottom: 69px;
    right: 152px;
    padding: 15px 28px;
    width: 276px;
  }
}
.heartIcon {
  width: 32px;
  height: 32px;
  fill: $tropical-wave;
  margin-right: 14px;
}
