@import '/src/styles/breakpoints';
@import '/src/styles/mixins';
@import '/src/styles/colors';

.container {
  width: 100%;

  background-color: $snowdrift;
  color: $pine-depths;

  padding-bottom: 64px;

  @include media-rules(tablet) {
    padding-bottom: 80px;
  }

  @include media-rules(desktop) {
    padding-bottom: 120px;
  }
}
