@import "/src/styles/mixins";
@import "/src/styles/colors";

.thumb {
  width: 325px;

  @include media-rules(tablet) {
    width: 390px;
  }
  @include media-rules(desktop) {
    width: 589px;
  }
}

.photo {
  width: 100%;
  height: 362px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 24px;

  @include media-rules(tablet) {
    height: 348px;
    margin-bottom: 0px;
  }

  @include media-rules(desktop) {
    height: 348px;
  }
}

.info {
  width: 325px;

  @include media-rules(tablet) {
    width: 462px;
    margin-left: 28px;
  }
  @include media-rules(desktop) {
    width: 670px;
  }
}

.title {
  color: $pine-depths;
  margin-bottom: 8px;
  font-family: "Ermilov", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: $pine-depths;
  @include media-rules(tablet) {
    margin-bottom: 32px;
  }

  @include media-rules(desktop) {
  }
}

.description {
  color: $pine-depths;
  margin-bottom: 16px;
  font-family: "Innerspace", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $city-park;
  text-align: justify;

  @include media-rules(tablet) {
    margin-bottom: 12px;
    height: 200px;
  }
}
.button {
  display: flex;
  align-items: center;
  cursor: pointer;

  font-family: "Innerspace", serif;
  font-weight: 400;
  font-size: 16px;

  line-height: 1.5;
  color: $osnovniy;
}
.button:hover {
  color: $tropical-wave;
}

.arrowUpIcon {
  width: 20px;
  height: 20px;
  fill: $tropical-wave;
}

.button:hover .arrowUpIcon {
  fill: $emerald-field;
}
