@import '/src/styles/breakpoints';
@import '../../../styles/mixins';
@import '/src/styles/colors';

.descriptionTitle {
  color: $pine-depths;
  padding: 0 16px;
  margin-bottom: 16px;
  line-height: 1.06;
  font-size: 32px;
  letter-spacing: -2%;
}

.descriptionTitleShowMore {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.heroPictureContainer {
  margin-bottom: 32px;
}

.readMoreButton {
  background-color: $pine-depths;
  padding: 18px 95.5px;
  border-radius: 200px;
  font-size: 14px;
  font-family: 'Innerspace', sans-serif;
  line-height: 1.3;
  color: $snowdrift;
  white-space: nowrap;
}

.parkDesription {
  font-family: 'Innerspace', sans-serif;
  max-height: 321px;
  overflow: hidden;
  color: $city-park;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 13;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  margin-bottom: 32px;
}
