@import '/src/styles/colors';
@import '../../../../styles/mixins';

.picture {
  background-color: $snowdrift;
  margin: 0;
  padding: 0;

  @include media-rules(desktop) {
    object-fit: cover;
    object-position: bottom;
  }
}
