@import 'src/styles/colors';

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.office_of_integrity_nazk_logo_icon {
  width: 54px;
  height: 44px;
}

.open_school_logo_icon {
  width: 83px;
  height: 45px;
}
