@import '/src/styles/colors';
@import '../../../../styles/mixins';

.list {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include media-rules(tablet) {
    gap: 32px;
  }

  @include media-rules(desktop) {
  }
}
